.appContent {
  position: relative;
  margin-top: 150px;

  .actionButton {
    user-select: none;
    cursor: pointer;
    margin-bottom: 10px;
    width: 50px;
    padding: 9px;

    font-size: 16px;
    background: #203457;
    border-radius: 4px;
    color: #4F5975;
  }

  .actionButton:hover span {
    color: white;
  }

  .qcrImg:hover, .downLoad:hover .qcrImg {
    display: inline-block;
  }

  .qcrImg {
    display: none;
    position: absolute;
    padding-bottom: 5px;
    top: -115px;
    left: -30px;


    div {
      padding: 5px;
      background: rgba(32, 52, 87, 1);
      border-radius: 4px;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}


.noneBody {
  display: none;
}


