.operatingRecord {
  .topTitle {
    height: 25px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background: #061A35;
    border-radius: 4px 4px 0 0;

    img {
      width: 12px;
      flex: 0 0 auto;
      max-height: 20px;
    }

    b {
      flex: 0 0 16%;
      font-family: 'ATUO123';
      line-height: 1;
      font-weight: 600;
      text-align: center;
    }

    p {
      flex: 0 0 auto;
      text-align: center;
      line-height: 1;
      font-weight: bold;
    }
  }

  .teamRed, .teamBlue {
    min-height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: rgba(32, 52, 87, 1);

    > img {
      margin: 6px;
      flex: 0 0 auto;
      width: 18px;
      max-height: 30px;
    }

    > div {
      flex: 1 1 auto;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      padding-right: 2%;

      img {
        width: 15px;
        flex: 0 0 auto;
        height: 15px;
        margin-left: 2%;
      }
    }

    .hodlRight {
      justify-content: flex-end;
    }
  }

  .teamBlue {
    margin-top: 1px;
    border-radius: 0 0 4px 4px;
  }
}

.csgoTableBlue, .csgoTableYellow {
  width: 100%;

  thead tr {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    background: rgba(6, 26, 53, 0.6);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  tbody {

  }

  tbody tr {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1px;
    background: rgba(22, 69, 129, 0.6);
    min-height: 30px;
    .gameOver {
      background-color: rgba(6, 5, 26, 0.6);
    }
  }

  tbody tr:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  th {
    width: 0;
    flex: 1 0 14.2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 25px;
  }

  tbody td {
    width: 0;
    flex: 1 0 14.2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 30px;
  }

  .alignItemsLeft {
    align-items: flex-start;
  }

  p {
    max-width: 100%;
    flex: 0 0 auto;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1;
  }

  th p {
    font-weight: bold;
    white-space: normal;
  }

  .bigTxt {
    font-family: 'ATUO123';
    font-weight: 600;
  }

  .haemalStrandIcon {
    height: 4px;
    border-radius: 2px;
  }

  img {
    max-width: 100%;
    flex: 0 0 auto;
    height: 13px;
  }
}

.csgoTableYellow {
  tbody tr {
    background: rgba(86, 77, 65, 0.6);
  }

  thead tr {
    background: rgba(216, 154, 98, 0.6);
  }
}

.csgoTableBlue, .csgoTableYellow {
  tfoot div {
    // 上半场下半场
    width: 50%;
    height: 3px;
    border-radius: 2px;
    background-color: #4F5975;
  }
}

.singLeft {
  float: right;
}

.mapRight {
  height: 40px;
  padding-right: 15px;
  padding-top: 15px;
  line-height: 25px;
  font-size: 14px;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 4px;
  background-image: url("../../../assets/Map_cache.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mapCenter {
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../../../assets/Map_cache.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.csgoMap-cache {
  background-image: url("../../../assets/Map_cache.png");
}

.csgoMap-cobblestone {
  background-image: url("../../../assets/Map_cobblestone.png");
}

.csgoMap-dust2 {
  background-image: url("../../../assets/Map_dust2.png");
}

.csgoMap-inferno {
  background-image: url("../../../assets/Map_inferno.png");
}

.csgoMap-mirage {
  background-image: url("../../../assets/Map_mirage.png");
}

.csgoMap-muke {
  background-image: url("../../../assets/Map_nuke.png");
}

.csgoMap-overpass {
  background-image: url("../../../assets/Map_overpass.png");
}

.csgoMap-train {
  background-image: url("../../../assets/Map_train.png");
}

.csgoMap-vertigo {
  background-image: url("../../../assets/Map_vertigo.png");
}

.extraTimeTxt {
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
  color: #70F7E3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
