.appContent {
  height: 60px;
  background: rgba(32, 52, 87, 1);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1px;

  > *:first-child {
    width: 0;
    flex: 1 1 auto;
  }

  > *:nth-child(1n+2) {
    flex: 0 0 23%;
  }

  .gameNameAndTime {
    padding-left: 10px;


    p:first-child {
      font-weight: bold;
      color: white;

      span {
        margin-right: 5px;
      }

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p:last-child {
      padding-top: 5px;
      color: #85838F;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .tamePvpName {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      height: 40px;
    }

    p {
      max-width: 90%;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .tamePvpScore {
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #F9DF70;

    .fall {
      color: #85838F;
    }
  }
}
