.content {
  background-color: #203457;
  margin-bottom: 1px;

  .pvpTitle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 30px;

    .leftTime {
      flex: 0 0 27%;
      padding-left: 2.5%;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      img {
        width: 10px;
        height: 10px;
        margin-right: 3px;
      }

      span:nth-of-type(1) {
        margin-right: 5px;
      }
    }

    .centerDifference {
      flex: 0 0 20%;

      p {
        text-align: center;
        color: #70F7E3;
        font-size: 12px;
        line-height: 1;
      }

      .money {
        color: white;

        &:before {
          content: '';
          display: inline-block;
          width: 1em;
          height: 1em;
          background: url("../../../assets/coin.png") no-repeat center center;
          background-size: 1em 1em;
          vertical-align: bottom;
        }
      }
    }

    .koaMatch {
      height: 15px;
      flex: 0 0 13%;
    }

    .dotaMatchRed {
      @extend .koaMatch;
      background: url("../../../assets/tianhui.png") no-repeat center center;
      background-size: 30px 15px;
    }

    .dotaMatchBlue {
      @extend .koaMatch;
      background: url("../../../assets/yemo.png") no-repeat center center;
      background-size: 30px 15px;
    }

    .lolMatchRed {
      @extend .koaMatch;
      background: url("../../../assets/reateam.png") no-repeat center center;
      background-size: 30px 15px;
    }

    .lolMatchBlue {
      @extend .koaMatch;
      background: url("../../../assets/blueteam.png") no-repeat center center;
      background-size: 30px 15px;
    }

    .csgoMatchRed {
      @extend .koaMatch;
      background: url("../../../assets/counter.png") no-repeat center center;
      background-size: 12px 12px;
    }

    .csgoMatchBlue {
      @extend .koaMatch;
      background: url("../../../assets/terrorists.png") no-repeat center center;
      background-size: 12px 12px;
    }

  }

  .formation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .kill5Icon {
      background: url("../../../assets/pentakills.png") no-repeat left top;
      background-size: 100% 100%;
    }

    .kill10Icon {
      background: url("../../../assets/deckills.png") no-repeat left top;
      background-size: 100% 100%;
    }

    .firstBloodIcon {
      background: url("../../../assets/firstblood.png") no-repeat left top;
      background-size: 100% 100%;
    }

    .csgo5 {
      background: url("../../../assets/5turn.png") no-repeat left top;
      background-size: 100% 100%;
    }

    .csgoFirstgun {
      background: url("../../../assets/firstgun.png") no-repeat left top;
      background-size: 100% 100%;
    }

    .csgoSixtgun {
      background: url("../../../assets/sixtgun.png") no-repeat left top;
      background-size: 100% 100%;
    }

    .nameAndKill, .nameAndKill2 {
      width: 0;
      max-width: 27%;
      flex: 1 1 auto;

      > p {
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1;
      }

      > div {
        margin-top: 8px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        span {
          width: 1em;
          height: 1em;
          background-color: #06051A;
        }

        span:nth-child(1n+2) {
          margin-left: 5px;
        }
      }
    }

    .nameAndKill {
      padding-left: 15px;

      > p {
        text-align: right;
      }

      > div {
        justify-content: flex-end;
      }
    }

    .nameAndKill2 {
      padding-right: 15px;
    }

    .teamName1 {
      padding-left: 15px;
      text-align: right;
    }

    .teamName2 {
      padding-right: 15px;
    }

    .teamName1, .teamName2 {
      width: 0;
      flex: 0 0 27%;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1;
    }

    .teamLogo {
      width: 13%;
      flex: 0 0 auto;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      img {
        max-width: 72px;
        max-height: 72px;
        width: 0;
        flex: 0 0 73%;
      }
    }

    .matchScore {
      overflow: hidden;
      min-width: 20%;
      flex: 0 0 auto;

      > p:first-child {
        width: 100%;
        font-family: 'ATUO123';
        font-size: 25px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
      }

      > p:last-child {
        width: 100%;
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .pvpNowStatus {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 35px;

    .teamIcon1, .teamIcon2 {
      flex: 0 0 27%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      img {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        overflow: hidden;
      }

      span {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #101831;
      }
    }

    .teamIcon1 {
      justify-content: flex-end;

      *:nth-child(1n+2) {
        margin-left: 3px;
      }
    }

    .teamIcon2 {
      *:nth-last-child(1n+2) {
        margin-right: 3px;
      }
    }

    .csgoScore {
      flex: 0 0 27%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      p {
        line-height: 1;
        padding: 4px 7px;
        text-align: center;
        color: #F9DF70;
        border: 1px solid #F9DF70;
        border-radius: 4px;

        span:first-child {
          margin-right: 4px;
        }
      }
    }

    .score {
      flex: 0 0 13%;
      text-align: center;
      color: #70F7E3;
      font-size: 14px;
      font-weight: bold;
    }

    .center {
      height: 100%;
      flex: 0 0 20%;
      text-align: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      p {
        line-height: 1.1;
        font-size: 12px;
        color: #70F7E3;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
