.BPlist {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  p {
    color: white;
    flex: 0 0 auto;
    min-width: 2px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }

  p.green {
    color: #2FD082;
  }

  > div {
    width: 0;
    flex: 1 0 auto;
    height: 35px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    &:before,
    &:after {
      content: '';
      display: block;
    }

    img, span {
      width: 25px;
      margin-right: 1px;
      height: 25px;
      border-radius: 50%;
    }

    span {
      padding: 7.5% 0;
      background-color: #101831;
    }
  }
}
