.BPlist {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  p {
    color: white;
    flex: 0 0 auto;
    min-width: 2px;
    font-weight: bold;

    text-align: center;
  }

  p.green {
    color: #2FD082;
  }

  > div {
    width: 0;
    flex: 1 0 auto;
    height: 35px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;

    &:before,
    &:after {
      content: '';
      display: block;
    }

    > div {
      flex: 0 0 15%;
      margin: 0 0.5%;
      padding: 7.5% 0;
      border-radius: 50%;
      height: 0;
      overflow: hidden;
      background-size: auto 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: #101831;
    }
  }
}

.filterGray div{
  filter: grayscale(1)
}
