.notStartedAndOverContent {
  background-color: #203457;
  margin-bottom: 4px;

  .notStart, .over {
    font-size: 12px;
    line-height: 25px;
    text-align: center;

    span {
      margin-right: 5px;
    }
  }

  .notStart {
    color: #70F7E3;
  }

  .over {
    color: #85838F;
  }

  .teamPvp {
    min-height: 55px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .leftName, .rightName {
      flex: 0 0 38%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      img {
        flex: 0 0 auto;
        width: 40px;
        min-height: 20px;
      }

      p {
        width: 0;
        flex: 1 1 auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1;
      }
    }

    .leftName {
      p {
        padding: 0 10px 0 15px;
        text-align: right;
      }
    }

    .center {
      min-width: 24%;
      flex: 0 0 auto;

      p {
        text-align: center;
      }

      span {
        font-family: ATUO123;
        font-weight: bold;
      }

      .gameOver {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        font-size: 15px;
      }

      .gameOverTxt {
        color: #85838F;
        font-size: 12px;
      }

      .maximum {
        color: #70F7E2;
      }

      &.notStarted {
        p:first-child {
          color: #70F7E3;
          font-size: 12px;
        }

        p:last-child {
          font-size: 15px;
        }
      }
    }

    .rightName {
      p {
        padding: 0 15px 0 10px;
      }
    }
  }
}

.moreList {
  height: 25px;
  line-height: 25px;
  margin: 7px 0;
  color: #4F5975;
  background-color: #203457;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
