.appContent {
  width: 0;
  margin-bottom: 10px;
  flex: 0 0 49.5%;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #203457;

  &:nth-child(2n+1) {
    margin-right: 1%;
  }

  > img {
    width: 0;
    margin: 0 5px;
    flex: 0 0 25px;
    height: auto;
  }

  .gameNameAndTime {
    width: 0;
    flex: 1 1 auto;
    margin-right: 10px;

    span {
      margin-right: 5px;
    }

    p:first-child {
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p:last-child {
      color: #70F7E3;
      padding-top: 10px;
    }
  }

  .pvpNameOdd {
    flex: 1 0 20%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .pvpLeft {
      flex: 1 1 auto;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;

      img {
        width: 0;
        margin: 0 5px;
        flex: 0 0 40px;
        height: auto;
        //min-height: 70px;
      }

      .tameNameOdd {
        p {
          text-align: right;
        }
      }
    }

    .pvpCenter {
      margin: 0 10px;
      flex: 0 0 auto;

      p:first-child {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: white;
      }

      p:last-child {
        text-align: center;
        color: #009CFF;
      }
    }

    .pvpRight {
      flex: 1 1 auto;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      img {
        width: 0;
        flex: 0 0 40px;
        height: auto;
        //min-height: 70px;
      }
    }

    .tameNameOdd {
      width: 0;
      flex: 1 1 auto;

      p:first-child {
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p:last-child {
        padding-top: 10px;
        color: #009CFF;
      }
    }
  }

  .navData {
    flex: 0 0 auto;
    color: #F9DF70;
    font-weight: bold;
    padding: 0 20px 0 10px;
    cursor: pointer;
  }
}
