.content {
  min-height: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 2%;
  background-color: #011938;
  //background: linear-gradient(90deg, rgba(255, 73, 73, 0.2) 0%, rgba(6, 26, 53, 0) 100%);

  img {
    width: 15px;
    min-height: 15px;
    flex: 0 0 auto;
  }

  span {
    flex: 0 0 auto;
    //max-width: 10%;
    white-space: nowrap;
    font-size: 12px;
  }

  p {
    padding: 0 15px 0 5px;
    width: 0;
    font-size: 12px;
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

