.content {
  min-height: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 2% 0 40px;
  background-color: #011938;
  //background: linear-gradient(90deg, rgba(255, 73, 73, 0.2) 0%, rgba(6, 26, 53, 0) 100%);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% auto;

  span {
    flex: 0 0 auto;
    //max-width: 10%;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1;
  }

  p {
    line-height: 1;
    width: 0;
    font-size: 12px;
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.game-back-5 {
  background-image: url("../../../assets/tournament_dota.png");
}

.game-back-1 {
  background-image: url("../../../assets/tournament_lol.png");
}

.game-back-3 {
  background-image: url("../../../assets/tournament_csgo.png");
}

.game-back-2 {
  background-image: url("../../../assets/tournament_kog.png");
}
