.appContent {
  background: url("../../../../assets/title_cyan_long.png") no-repeat left top;
  background-color: #203457;
  background-size: 100% 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  height: 33px;
  line-height: 33px;
}

.typeShow1 {
  background-image: url("../../../../assets/title_yellow_m.png");
}
