.content {
  position: relative;
  width: 100%;
  min-height: 60px;

  .showMenu {
    margin: 7px;
    height: 16px;
    width: 16px;
    flex: 0 0 auto;
  }

  .rotateIcon {
    transform: rotateX(180deg);
  }

  .navBar {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #06051A;
    height: 30px;
    overflow: hidden;

    .menuContent {
      flex: 1 1 auto;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      font-size: 13px;
      background-color: #06051A;

      .dayName {
        flex: 0 1 auto;
        min-width: 68px;
        max-width: 100%;
        padding: 0 6px;
        font-weight: bold;
        color: #85838F;
        line-height: 30px;
        height: 30px;
        white-space: nowrap;
        text-align: center;
        user-select: none;
        cursor: pointer;
        overflow: hidden;
      }

      .dayName.activeButton {
        color: #F9DF70;
        background-color: #203457;
      }

    }
  }

  .showAll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    min-height: 30px;
    overflow: inherit;
  }


  .dayOpt {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-height: 30px;
    background-color: #203457;

    .dayList {
      min-height: 30px;
      width: 0;
      flex: 1 1 auto;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;

      .noStart, .starting, .endOver {
        flex: 0 1 auto;
        min-width: 68px;
        max-width: 100%;
        padding: 0 6px;
        height: 30px;
        color: #85838F;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        p {
          padding: 4px 5px;
          line-height: 1;
          white-space: nowrap;
          text-align: center;
          user-select: none;
          cursor: pointer;
          overflow: hidden;
          border-radius: 20px;
          vertical-align: top;
        }

        p:before {
          content: '';
          display: inline-block;
          width: 1em;
          height: 15px;
          background-size: 100% auto;
          background-repeat: no-repeat;
          background-position: left center;
          vertical-align: top;
        }
      }

      .noStart {
        p:before {
          background-image: url("../../../assets/score_nostart_normal.png");
        }

        &.activeButton {
          color: white;

          p {
            background-color: #62BED8;
          }

          p:before {
            background-image: url("../../../assets/score_nostart_seclect.png");
          }
        }
      }

      .starting {
        p:before {
          background-image: url("../../../assets/score_ongoing_normal.png");
        }

        &.activeButton {
          color: white;

          p {
            background-color: #62BED8;
          }

          p:before {
            background-image: url("../../../assets/score_ongoing_select.png");
            background-color: #62BED8;
          }
        }
      }
    }

    .endOver {
      p:before {
        background-image: url("../../../assets/score_result_normal.png");
      }

      &.activeButton {
        color: white;

        p {
          background-color: #62BED8;
        }

        p:before {
          background-image: url("../../../assets/score_result_select.png");
          background-color: #62BED8;
        }
      }
    }
  }

  .timeUpdate {
    flex: 1 1 auto;
    text-align: center;
    word-wrap: break-word;

    span {
      color: #E12727;
    }
  }
}

.fixedTop2 {
  width: 100%;
  max-width: 750px;
  min-height: 60px;
  background-color: #091329;
}

.tabOne {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 150px;
  color: red;
}
