.content {
  background-color: #091329;
}

.tabsList {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;

  div {
    width: 33.3%;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    p {
      line-height: 25px;
      text-align: center;
      color: #95949F;
      font-weight: 500;
    }

    p:after {
      content: '';
      display: block;
      height: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 3px;
    }
  }

  div.active p {
    color: #F9DF70;

    &:after {
      background-color: #F9DF70;;
    }
  }
}
