
.paddingBody {
  padding: 2%;
}

.tabsList {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  background: rgba(16, 24, 49, 0.5);

  div {
    width: 33.3%;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    p {
      line-height: 25px;
      text-align: center;
      color: #95949F;
      font-weight: 500;
    }

    p:after {
      content: '';
      display: block;
      height: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 3px;
    }
  }

  div.active p {
    color: #F9DF70;

    &:after {
      background-color: #F9DF70;;
    }
  }
}
.game-rear-5 {
  // dota
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left top;
  background-image: url("../../assets/topbg_dota.png");
}

.game-rear-1 {
  // 撸啊撸
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left top;
  background-image: url("../../assets/topbg_lol.png");
}

.game-rear-2 {
  // 王者
  background-repeat: no-repeat;
  background-size: 100% 205px;
  background-position: left top;
  background-image: url("../../assets/topbg_kog.png");
}

.game-rear-4 {
  // ow
  background-repeat: no-repeat;
  background-size: 100% 205px;
  background-position: left top;
  background-image: url("../../assets/topbg_kog.png");
}

.game-rear-3 {
  // cs
  background-repeat: no-repeat;
  background-size: 100% 205px;
  background-position: left top;
  background-image: url("../../assets/topbg_csgo.png");
}
