.appContent {
  display: flex;
  flex-flow: row wrap;
  //align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
  //min-height: 200px;

  > div:nth-child(3n+1) {
    margin-left: 0;
  }

  div {
    margin-left: 1%;
    flex: 0 0 32.66%;
    min-height: 46px;
    margin-bottom: 4px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #203457;
    padding: 0 10px;

    img {
      width: 0;
      margin-right: 10px;
      flex: 0 0 40px;
      max-height: 40px;
    }

    p:nth-of-type(1) {
      width: 0;
      flex: 1 0 auto;
      word-wrap: break-word;
    }

    p:nth-of-type(2) {
      color: #85838F;
      width: 0;
      flex: 0 0 40px;
    }
  }
}

.noAnyOne {
  line-height: 200px;
  text-align: center;
  justify-content: center;

  &:after {
    color: #4F5975;
    content: '暂无数据';
  }
}
