.withOut {
  width: 100%;
  margin-top: 50px;
  padding-top: 100px;
  height: 120px;
  text-align: center;
  background: url("../../../assets/default_nodata.png") no-repeat center 30px;
  background-size: 65px 65px;
  color: #4F5975;
}
