.content {
  width: 100%;
  //margin-top: 10px;
  padding-top: 10px;
  background-color: #06051A;

  .title {
    color: #70F7E3;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #061A35;
    margin-bottom: 5px;
  }

  .oddsBottom, .oddsTop {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;

    p {
      padding: 0 5px;
      flex: 0 1 33%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
    }
  }

  .oddsTop p {
    background-color: #081833;
  }

  .oddsBottom p {
    background-color: #203255;
  }
}
