.content {
  padding-top: 20px;
  background-color: #06051A;

  p {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 92%;
    height: 10px;
  }
}

