.content {
  p {
    padding: 0 24px 0 10px;
    color: white;
    line-height: 20px;
    font-weight: bold;
    background: url("../../../assets/titley_type2.png") #06051A no-repeat left center;
    background-size: auto 100%;
  }

  border-bottom: 1px solid #4F5975;
}
